page-login {
  .container {
      margin-top: 100px;
    #loginForm {
        padding-bottom: 50px;
    }
    #btnsDiv {
      button {
        width: 100%;
        padding: 25px 0;
      }
    }
  }
}
