<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="dateItem">
    <ion-label>Fecha: </ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="myDate" (ngModelChange)="checkDate(myDate)"></ion-datetime>
  </ion-item>
  <ion-slides pager>
    <ion-slide tappable *ngFor="let item of items | async; let i = index; ">
      {{ item.teamA }}
      <ion-item *ngIf="item.status === false">
          <ion-range min="0" max="10" pin="true" [(ngModel)]="self['modelScoreA']" name="range-A" color="secondary">
              <ion-label range-left class="small-text">0</ion-label>
              <ion-label range-right>{{self.modelScoreA+'i'}}</ion-label>
          </ion-range>
        </ion-item>
      <br> {{ item.scoreA}}
      <br> {{ item.teamB }}
      <ion-item *ngIf="item.status === false">
          <ion-range min="0" max="10" pin="true" [(ngModel)]="self['modelScoreB'+i]" name="range-B" color="secondary">
              <ion-label range-left class="small-text">0</ion-label>
              <ion-label range-right>{{self}}</ion-label>
          </ion-range>
        </ion-item>
      <br> {{ item.scoreB}}
      <br>
      <button (click)="wa(i)" [disabled]="item.status === true">Aceptar</button>
    </ion-slide>
  </ion-slides>
</ion-content>
