<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="myDate" (ngModelChange)="checkDate(myDate)"></ion-datetime>
      </ion-item>
  <ion-list>
      <ion-item tappable *ngFor="let item of items | async">
          {{ item | json }}
        <!--<ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <div class="textCenter">
            <h2>0 - 0</h2>
            <p>estado</p>
        </div>

        <ion-thumbnail item-right>
            <img src="img/thumbnail-totoro.png">
          </ion-thumbnail>-->
      </ion-item>
    </ion-list>
    <div *ngIf="items?.length < 1">
        no hay partidos
      </div>
</ion-content>
